<div class="index_center">
    <div class="hero">
        <div class="hero_background">
            <span><!--<img src="/web/images/test4.jpg" />--></span>
        </div>
        <div class="hero_content page-container page-container-full">
            <div class="va-container va-container-v va-container-h">
                <div class="va-middle hero_center">
                    <h2>为什么你需要一件原创艺术品？</h2>
                    <h4>将独一无二的艺术品带入你的空间<br />让它变得和你一样与众不同</h4>
                </div>
            </div>
            <div class="hero_content-footer">
                <h5>现在，就挑选一件艺术品</h5>
                <div id="searchbar">
                    <div class="searchbar">
                        <form id="searchbar-form">
                            <div class="saved-search-wrapper">
                                <label>
                                    <select v="tc">
                                        <option value="">题材</option>
                                        <option>风景</option>
                                        <option>人物</option>
                                        <option>静物</option>
                                        <option>其他</option>
                                    </select>
                                </label>
                                <label>
                                    <select v="fg">
                                        <option value="">风格</option>
                                        <option>抽象</option>
                                        <option>具象</option>
                                        <option>观念</option>
                                    </select>
                                </label>
                                <label>
                                    <select v="cc">
                                        <option value="">尺寸</option>
                                        <option>50cm&nbsp以下</option>
                                        <option>50cm&nbsp-&nbsp100cm</option>
                                        <option>100cm&nbsp-&nbsp150cm</option>
                                        <option>150cm&nbsp-&nbsp200cm</option>
                                        <option>200cm&nbsp以上</option>
                                    </select>
                                </label>
                                <label>
                                    <select v="jg">
                                        <option value="">价格</option>
                                        <option value="0,2000"           >¥ 2,000&nbsp以下</option>
                                        <option value="2001,8000"       >¥ 2,000&nbsp-&nbsp¥ 8,000</option>
                                        <option value="8000,15000"      >¥ 8,000&nbsp-&nbsp¥ 15,000</option>
                                        <option value="15000,30000"     >¥ 15,000&nbsp-&nbsp¥ 30,000</option>
                                        <option value="30001,999999999">¥ 30,000&nbsp以上</option>
                                    </select>
                                </label>
                                <label class="searchbar-pop">
                                    请选择筛选条件
                                </label>
                            </div>
                            <button type="submit" class="searchbar-submit lxw_search"><span>开始</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero_pop">
            <form>
                <div class="selects">
                    <select v="lb">
                        <option value="">作品类别</option>
                        <option>油画</option>
                        <option>中国画</option>
                        <option>当代水墨</option>
                        <option>雕塑</option>
                        <option>装置</option>
                        <option>摄影</option>
                        <option>版画</option>
                    </select>
                    <select v="tc">
                        <option value="">题材</option>
                        <option>风景</option>
                        <option>人物</option>
                        <option>静物</option>
                        <option>其他</option>
                    </select>
                    <select v="fg">
                        <option value="">风格</option>
                        <option>抽象</option>
                        <option>具象</option>
                        <option>观念</option>
                    </select>
                    <select v="cc">
                        <option value="">尺寸</option>
                        <option>50cm&nbsp以下</option>
                        <option>50cm&nbsp-&nbsp100cm</option>
                        <option>100cm&nbsp-&nbsp150cm</option>
                        <option>150cm&nbsp-&nbsp200cm</option>
                        <option>200cm&nbsp以上</option>
                    </select>
                    <select v="jg">
                        <option value="">价格</option>
                        <option value="0,2000"          >2000&nbsp以下</option>
                        <option value="2001,8000"       >2000&nbsp-&nbsp8000</option>
                        <option value="8000,15000"      >8000&nbsp-&nbsp15000</option>
                        <option value="15000,30000"     >15000&nbsp-&nbsp30000</option>
                        <option value="30001,999999999">30000&nbsp以上</option>
                    </select>
                </div>
                <div class="buttons">
                    <button type="submit" class="searchbar-submit lxw_search"><span>开始</span></button>
                    <button type="button" class="searchbar-back"><span>返回</span></button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel">
        <div class="discovery-section">
            #foreach($zt in $zts)
            <div class="section-intro">
                <h2>$zt.biaoti</h2>
            </div>
            <div class="fitPorject roll_img_box">
                <div class="roll_img">
                    <div class="roll_img_div">
                        #foreach($ysp in $zt.zuopin)
		                <div class="roll_img_a">
                            <span style="background:url(${OSSIMG}yw/${ysp.tupian}.jpg_small01) center center;background-size:cover;">
                                <a href="/artworks/${ysp.yspkey}" class="link" target="_blank"></a>
                                <div class="info">
                                    <div class="row clearfix">
                                        <p class="clearfix"><span>$funhelper.encode("$!ysp.zhongwen","",$funhelper.encode("$!ysp.mingcheng","","无题","$!ysp.mingcheng"),"$!ysp.zhongwen")</span></p>
                                        <p class="clearfix">
                                            <span>$!ysp.size</span>
                                            <span>$!ysp.leibie</span>
                                            #if("$!ysp.chuangzuoriqi" != "")
                                            <span>$!{ysp.chuangzuoriqi}</span>
                                            #end
                                        </p>
                                    </div>
                                    <div class="f_l">
                                        <p class="clearfix">¥${ysp.money}</p>
                                    </div>
                                    <div class="f_r" v="$!ysp.yspkey">
                                        <a href="javascript:void(0);" class="icon_a mxl_cart #if("$!ysp.gwc" == "1") active #end"><img src="/svg_file?path=/web/images/icon_cart_o.svg&rgb=255,255,255" class="defualt"/><img src="/svg_file?path=/web/images/icon_cart_o.svg&rgb=255,3,3" class="active"/></a>
                                        <a href="javascript:void(0);" class="icon_a #if($!ysp.chushou==0) mxl_like #end  #if("$!ysp.sfsc" == "1") active #end"><img src="/svg_file?path=/web/images/icon_heart_empty_o.svg&rgb=255,255,255" class="defualt"/><img src="/svg_file?path=/web/images/icon_heart_o.svg&rgb=255,3,3" class="active"/></a>
                                    </div>
                                </div>
                            </span>
		                </div>
                        #end
                    </div>
                </div>
                <a href="javascript:void(0);" class="roll_img_prev"><img src="/svg_file?path=/web/images/arrow_left.svg&rgb=255,255,255" /><span></span></a>
                <a href="javascript:void(0);" class="roll_img_next"><img src="/svg_file?path=/web/images/arrow_right.svg&rgb=255,255,255" /><span></span></a>
            </div>
            #end
        </div>

        <div class="discovery-section _hidden">
            <div class="section-intro">
                <h2>艺网12月精选</h2>
            </div>

        </div>

        <div class="discovery-section">
            <div class="buy-note">
                <h2>买艺术品，更是在买未来</h2>
                <p>我们网罗了中国大批有潜质的青年艺术家，</p>
                <p>他们的作品将为你带来不可估量的投资价值。</p>
            </div>
        </div>

        <div class="discovery-section" style="background:#edecea;">
            <div class="section-intro">
                <h2>艺网未来之星</h2>
            </div>
             <div class="arts">

                 <div class="names">
                     #foreach($ysj in $tjysj)
                     ##/artist/$ysj.ysjkey
                      <a href="javascript:void(0);" 
                        #if($velocitycount==0)
                        class="active"
                        #end
                        >$ysj.xingming</a>
                     #end
                    
                 </div>
                 
                 <div class="shows clearfix" >

                     <div class="showAvatar clearfix">
                         <div class="scroll">
                             #foreach($ysj in $tjysj)
                                <div class="avatar item" style="background:url(${OSS}ysj/$ysj.zhaopian) no-repeat top center; background-size:100% auto;" onclick ="window.open('/artist/$ysj.ysjkey');">
                                    <img src="${OSS}ysj/$ysj.zhaopian" />
                                </div>
                             #end
                        </div>
                    </div>

                     <div class="showWorks">
                         <div class="scroll">
                             #foreach($ysj in $tjysj)
                                <div class="item">
                                    <div class="thumb" style="background:url(${OSSIMG}yw/${ysj.firstzp.tupian}.jpg_small01) no-repeat center center;background-size:cover;" onclick="window.open('/artworks/$ysj.yspkey');"></div>
                                    <p><strong>${ysj.firstzp.zhongwen}</strong></p>
                                    <p>${ysj.firstzp.size}&nbsp&nbsp${ysj.firstzp.leibie}&nbsp#if("${ysj.firstzp.chuangzuoriqi}" != "") ${ysj.firstzp.chuangzuoriqi} #end  </p>
                                    <a href="/artist/$ysj.ysjkey" class="more">更多作品 ></a>
                                </div>
                            #end
                        </div>
                    </div>
                 </div>
                 <a href="javascript:void(0);" class="arts_prev"></a>
                 <a href="javascript:void(0);" class="arts_next"></a>
             </div>
        </div>

        <div class="discovery-section">
            <div class="section-intro">
                <h2>源源不断的新作</h2>
            </div>
             <div class="newPorject roll_img_box">
                 <a href="/buy" class="more">查看更多 ></a>
                 <div class="roll_img">
                    <div class="roll_img_div">
                        #foreach($data in $topnew)
		                <div class="roll_img_a">
                            <span style="background:url(${OSSIMG}yw/${data.tupian}.jpg_small01) center center;background-size:cover;">
                                <a href="/artworks/${data.yspkey}" class="link" target="_blank"></a>
                                <div class="info">
                                    <div class="row clearfix"> 
                                        <p class="clearfix"><span>$funhelper.encode("$!data.zhongwen","",$funhelper.encode("$!data.mingcheng","","无题","$!data.mingcheng"),"$!data.zhongwen")</span></p>
                                        <p class="clearfix">
                                            <span>$!data.size</span>
                                            <span>$!data.leibie</span>
                                            #if("$!data.chuangzuoriqi" != "")
                                            <span>$!{data.chuangzuoriqi}</span>
                                            #end
                                        </p>
                                    </div>
                                    <div class="f_l">
                                        <p class="clearfix">¥$!data.money</p>
                                    </div>
                                    <div class="f_r" v="$!data.yspkey">
                                        <a href="javascript:void(0);" class="icon_a mxl_cart #if("$!data.gwc" == "1") active #end"><img src="/svg_file?path=/web/images/icon_cart_o.svg&rgb=255,255,255" class="defualt"/><img src="/svg_file?path=/web/images/icon_cart_o.svg&rgb=255,3,3" class="active"/></a>
                                        <a href="javascript:void(0);" class="icon_a #if($!data.chushou==0) mxl_like #end  #if("$!data.sfsc" == "1") active #end"><img src="/svg_file?path=/web/images/icon_heart_empty_o.svg&rgb=255,255,255" class="defualt"/><img src="/svg_file?path=/web/images/icon_heart_o.svg&rgb=255,3,3" class="active"/></a>
                                    </div>
                                </div>
                            </span>
		                </div>
                        #end                        
                    </div>
                </div>
                <a href="javascript:void(0);" class="roll_img_prev"><img src="/svg_file?path=/web/images/arrow_left.svg&rgb=255,255,255" /><span></span></a>
                <a href="javascript:void(0);" class="roll_img_next"><img src="/svg_file?path=/web/images/arrow_right.svg&rgb=255,255,255" /><span></span></a>
             </div>
        </div>

        <div class="discovery-section" style="background:#2b2d2e;">
            <div class="come-note">来艺网，找到好艺术</div>
        </div> 
        <div class="discovery-section">
            <div class="sevice-note clearfix">
                <ul>
                    <li>
                        <img src="/web/images/index_sevice_1.png" />
                        <p><strong>专业甄选</strong></p>
                        <p>艺网拥有专业的艺术学术团队</p>
                        <p>他们从艺术品的海选、定价，</p>
                        <p>到编辑层层把关，力求以最高的标准</p>
                        <p>呈现给消费者</p>
                    </li>
                    <li>
                        <img src="/web/images/index_sevice_2.png" />
                        <p><strong>安心物流</strong></p>
                        <p>艺网与国内专业的艺术品物流合作</p>
                        <p>确保每一件艺术品安全到达</p>
                    </li>
                    <li>
                        <img src="/web/images/index_sevice_3.png" />
                        <p><strong>优质服务</strong></p>
                        <p>对于购买艺术品的任何问题</p>
                        <p>您都可以随时联系我们的专业咨询</p>
                        <p>8888-888-888</p>
                        <p>艺网承诺14天无条件退换货 *</p>
                        <p>* 需保证商品完整，不影响二次销售</p>
                    </li>
                </ul>
            </div> 
        </div> 
    </div>

    ##底部页面在数据库中维护
    $indexbottom
</div>
<script src="/web/js/index.js"></script>