 <div class="page_login" style="background-image: url(/web/images/login_background.jpg);">
    <div class="page_login_make"></div>
    <div class="page_login_box">
        <div class="logo"></div>
        <ul>
            <li><input id="account" type="text" placeholder="请输入手机或邮箱" class="pure-input-1"/></li>
        </ul>
        <ul class="login_div">
            <li class="_hidden"><input id="password" type="password" placeholder="请输入密码" /></li>
            <li class="button"><button ref="登录 / 注册">登录 / 注册</button></li>
            <li class="forgetpw"><a href="#">忘记密码</a></li>
        </ul>
        <ul class="register_div _hidden">
            <li class="button_code"><input id="code" type="text" placeholder="短信验证码" /><button>点击获取</button></li>
            <li><input id="password2" type="password" placeholder="请输入密码，不少于6位" /></li>
            <li class="button"><button>注册</button></li>
        </ul>
        <div class="login_third">
            <a href="#"><i class="fa fa-weibo"></i></a>
            <a href="#"><i class="fa fa-weixin"></i></a>
        </div>
    </div> 
</div>

<script>
    code_time = 60;
    code_status = null;
    $(function () {
        $('.page_login').mouseover(function (event) {
            event.stopPropagation();
            $('.page_login_make').stop().fadeOut(200);
        });
        $('.page_login').mouseout(function (event) {
            event.stopPropagation();
            $('.page_login_make').stop().fadeIn(200);
        });
        $('.page_login_box').mouseover(function (event) {
            event.stopPropagation();
            $('.page_login_make').stop().fadeIn(200);
        });

        $("#account").keyup(function () {
            var accout_val = $.trim( $(this).val() );
            if (emailReg.test(accout_val)) {
                //test
                if ($(this).val() == 'lcc807@qq.com') {
                    OpenLogin(1);
                } else {
                    OpenRegister(1);
                }
            } else if (mobileReg.test(accout_val)) {
                //test
                if ($(this).val() == '18601900737') {
                    OpenLogin(1);
                } else {
                    OpenRegister();
                }
            } else {
                OpenLogin();
                $('.login_div li').eq(0).fadeOut(0);
            }
        });

        $(".register_div .button_code button").click(function () {
            if (!code_status) {
                $(".register_div .button_code button").text(code_time + '秒后重新发送').attr("disabled", true);
                var time = code_time - 1;
                code_status = setInterval(function () {
                    $(".register_div .button_code button").text(time + '秒后重新发送');
                    if (time == 0) {
                        $(".register_div .button_code button").attr("disabled", false);
                        clearInterval(code_status);
                        $(".register_div .button_code button").text('重新获取');
                        code_status = null;
                    } else {
                        $(".register_div .button_code button").attr("disabled", true);
                    }
                    time--
                }, 1000);
            }
            
        });

        function OpenLogin( chk ) {
            $('.register_div').fadeOut(0, function () {
                chk ? $('.login_div .button button').text('登录') : $('.login_div .button button').text($('.login_div .button button').attr('ref'));
                chk ? $('.login_third').css({ 'bottom': '-85px' }) : $('.login_third').css({ 'bottom': '0' });
                $('.login_div').fadeIn(0);
                $('.login_div li').eq(0).fadeIn(0);
            });
        }
        function OpenRegister(chk) {
            $('.login_third').css({ 'bottom': '-85px' });
            chk ? $('.button_code').fadeOut(0) : $('.login_third').fadeIn(0);
            $('.login_div').fadeOut(0, function () {
                $('.register_div').fadeIn(0);
            });
        }
    });
</script>