<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
     <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<body> 
	<form method="post" enctype="multipart/form-data" >
    <input type="file" name="test" /><input type="submit" value="提交"  />
       <input type="text" name="ttt" />
    #if("$!img"!="")
    <img src="/upload/yw/$!img" /><br>
        $!ys
    #end
	</form>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257530311'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257530311' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>

